*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
button {
  font-family: "Plus Jakarta Sans", serif;
}

h1,
h2,
h3,
h4,
p,
button,
ul {
  margin: 0;
}

button,
ul {
  padding: 0;
}

h1 {
  font-size: 3rem;
}

button {
  border: none;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  margin-top: 5%;
  width: 1100px;
  display: flex;
}

.container-left,
.container-right {
  padding: 1.5em;
}

.container-left {
  background-color: #ffffff;
  border: 10px solid #ffffff;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-right: none;
  flex-grow: 1.3;
  max-width: 45%;
}

.container-right {
  background: transparent;
  border: 15px solid #ffffff;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  flex-grow: 1.3;
  max-width: 55%;
}

.header {
  font-size: 14px;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

.logo {
  margin-right: auto;
}

.logo a {
  color: #000000;
  font-weight: bold;
}

.navigation-item {
  position: relative;
}

.navigation-item:not(:last-of-type) {
  padding-right: 2em;
}

.navigation-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4rem;
  width: 2px;
  height: 0.8rem;
  background-color: #ececec;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
}

.current {
  color: #bcbcbc;
  font-weight: 400;
}

/* Heading, h1 and images */

.heading-container {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.heading-container h1 {
  flex-basis: 125%;
}

.heading-images {
  align-self: flex-end;
}

.heading-image {
  object-fit: cover;
  border-radius: 50%;
}

.heading-image:first-child {
  width: 60px;
  height: 60px;
}

.heading-image:nth-child(2) {
  width: 40px;
  height: 40px;
}

.heading-image:last-child {
  width: 50px;
  height: 50px;
}

/* lead, h3 and border */

.heading-lead {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: 1em;
}

.border-x {
  height: 2px;
  width: 55%;
  background: #f4f4f4;
}

.border-y {
  display: inline-block;
  height: 30px;
  width: 2px;
  background: #ececec;
}

/* subheading, b, p, CTA black */

.subheading-container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.subheading-num {
  font-size: 0.8rem;
  margin-top: 2.4px;
}

.subheading-desc {
  flex-basis: 60%;
  font-size: 0.85rem;
}

.cta {
  cursor: pointer;
  border-radius: 25px;
}

.cta-black {
  align-self: center;
  color: #ffffff;
  background-color: #000000;
  padding: 1em 3.5em;
}

/* stats, h3, p */

.stat-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stat h3 {
  font-size: 1.5rem;
}

.stat-desc {
  font-size: 14px;
}

/* other images */

.other-house-container {
  position: relative;
  height: 35%;
  margin: 2rem 0;
}

.other-house {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}

.other-house:first-child {
  position: relative;
  z-index: 3;
}

.other-house:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  transform: scaleX(95%);
  opacity: 0.9;
}

.other-house:nth-child(3) {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1;
  transform: scaleX(90%);
  opacity: 0.7;
}

/* --- container right --- */

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.container-right > div {
  margin-left: 2rem;
}

.heading-right {
  display: flex;
  justify-content: flex-end;
}

.cta-contact {
  padding: 0.5em 2.5em;
}

.cta-profile {
  padding: 0.5em 1em;
}

.container-small {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  border: 5px solid #ffffff;
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 2rem;
}

.bg-small {
  width: 45%;
  border-radius: 15px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info p {
  margin-top: 5px;
  margin-left: 5px;
}

.cta-more {
  background-color: #000000;
  color: #ffffff;
  align-self: flex-start;
  padding: 0.7em;
  border-radius: 50%;
  margin-top: 5px;
}

.container-right-info {
  width: 80%;
}

.section-desc {
  display: flex;
  align-items: last baseline;
  gap: 1rem;
  color: #ffffff;
}

.section-desc .border-y {
  height: 2.5rem;
  background-color: #bcbcbc;
}

.section-cta {
  margin-top: 2rem;
  display: flex;
}

.cta-dropdown {
  padding: 1em 2em;
}

.cta-search {
  background-color: #000000;
  padding: 0.8em 2.5em;
  border: 1px solid white;
  color: #ffffff;
  margin-left: auto;
}
